In [1]:
import pandas as pd

In [2]:
url = "https://en.wikipedia.org/wiki/Demographics_of_Pakistan"

In [3]:
df = pd.read_html(url)

In [4]:
len(df)

33

In [6]:
df[5]

    Province or Territory 1951[12] 1961[12] 1972[12] 1981[12] 1998[12] 2017[4]
0                  Punjab    17.3%    21.5%    24.4%    27.6%    31.3%   36.9%
1                   Sindh    29.2%    37.9%    40.4%    43.3%    48.8%   51.9%
2      Khyber Pakhtunkhwa     8.6%    10.3%    11.1%    12.6%    14.3%   16.5%
3             Balochistan    12.4%    16.9%    16.5%    15.6%    23.9%   27.6%
4                     ICT     0.0%     0.0%    32.3%    60.1%    65.7%   50.4%
5  Four Provinces and ICT    17.7%    22.5%    25.4%    28.3%    32.5%   36.4%
6         Azad Kashmir[5]        —        —        —     8.1%    12.5%   17.4%
7     Gilgit-Baltistan[6]        —        —        —        —    16.8%   16.5%
8                     ICT     0.0%     0.0%    32.3%    60.1%    65.7%   50.4%

In [7]:
df[10]

    Year Mid-yearpopulation Annuallive births Annualdeaths  \
    Year Mid-yearpopulation Annuallive births Annualdeaths
0   1950           37696264           1647739      1173219
1   1951           38215785           1686378      1121858
2   1952           38816777           1727288      1089817
3   1953           39488228           1768524      1063098
4   1954           40224090           1810574      1044277
..   ...                ...               ...          ...
67  2017          216379655           6289965      1496276
68  2018          219731479           6302081      1508129
69  2019          223293280           6330933      1514600
70  2020          227196741           6362705      1606293
71  2021          231402117           6374741      1660400

   Annualnaturalincrease   CBR   CDR   RNC    IMR   TFR Life expectancy
   Annualnaturalincrease   CBR   CDR   RNC    IMR   TFR            Male Female
0                 474520  43.7  31.1  12.6  263.4  6.80            36.2   33.4
1                 564520  44.1  29.4  14.8  252.9  6.80            37.5   34.6
2                 637471  44.5  28.1  16.4  243.3  6.80            38.6   35.8
3                 705426  44.8  26.9  17.9  234.1  6.80            39.8   36.9
4                 766297  45.0  26.0  19.0  225.6  6.80            40.7   37.9
..                   ...   ...   ...   ...    ...   ...             ...    ...
67               4793689  29.0   6.9  22.1   58.8  3.76            64.0   68.8
68               4793952  28.6   6.8  21.8   57.1  3.69            64.2   69.0
69               4816333  28.3   6.8  21.5   55.5  3.62            64.6   69.1
70               4756412  28.0   7.1  20.9   53.9  3.56            63.9   68.8
71               4714341  27.5   7.2  20.4   52.3  3.47            63.8   68.6

[72 rows x 12 columns]

In [8]:
df[16].to_csv("country.csv")