In [132]:
# pip install Bs4
# pip install requests

from bs4 import BeautifulSoup
import requests
import pandas as pd

In [153]:
url = "https://www.coingecko.com/"

In [154]:
response = requests.get(url)
response.status_code

200

In [155]:
soup = BeautifulSoup(response.content,"html.parser")

In [156]:
results = soup.find("div", {"class":"coingecko-table"}).find("tbody").find_all("tr")

In [157]:
len(results)

100

# Name

In [158]:
results[0].find("span",{"class":"lg:tw-flex font-bold tw-items-center tw-justify-between"}).get_text().strip()

'Bitcoin'

# Price

In [159]:
results[0].find("td",{"class":"td-price price text-right"}).get_text().strip()

'$16,607.50'

# 24 Volume

In [160]:
results[0].find("td",{"class":"td-liquidity_score lit text-right col-market"}).get_text().strip()

'$10,048,083,512'

# Market Cap

In [161]:
results[0].find("td",{"class":"td-market_cap cap col-market cap-price text-right"}).get_text().strip()

'$319,595,451,886'

In [163]:
# creating a empty list
names = []
price = []
volume_24h = []
market_cap = []

for result in results:
    
    try:
        names.append(result.find("span",{"class":"lg:tw-flex font-bold tw-items-center tw-justify-between"}).get_text().strip())
    except:
        names.append("n/a")
    try:
        price.append(result.find("td",{"class":"td-price price text-right"}).get_text().strip())
    except:
        price.append("n/a")
    try:
        volume_24h.append(result.find("td",{"class":"td-liquidity_score lit text-right col-market"}).get_text().strip())
    except:
        volume_24h.append("n/a")
    try:
        market_cap.append(result.find("td",{"class":"td-market_cap cap col-market cap-price text-right"}).get_text().strip())
    except:
        market_cap.append("n/a")

# Creating DataFrame

In [164]:
crypto_df = pd.DataFrame({"Coin":names, "Price":price, "24h_Volume":volume_24h, "Market_Cap":market_cap})

In [165]:
crypto_df.head()

       Coin       Price       24h_Volume        Market_Cap
0   Bitcoin  $16,607.50  $10,048,083,512  $319,595,451,886
1  Ethereum   $1,202.01   $2,321,501,108  $144,894,596,024
2    Tether       $1.00  $11,443,146,915   $66,276,121,280
3  USD Coin       $1.00   $1,162,331,440   $44,606,050,118
4       BNB     $245.33     $268,918,247   $40,041,190,084

In [166]:
crypto_df.to_csv("crypto_df.csv", index=False)

# Scrapping Multipale Pages

In [171]:
# creating a empty list
names = []
price = []
volume_24h = []
market_cap = []

for i in range(1, 15):
    url = "https://www.coingecko.com/?page=" +str(i)
    # Requesting Website
    response = requests.get(url)
    # Creating Soup Object
    soup = BeautifulSoup(response.content, "html.parser")
    results = soup.find("div", {"class": "coingecko-table"}).find("tbody").find_all("tr")
    
    for result in results:

        
        
        try:
            names.append(result.find("span", {"class": "lg:tw-flex font-bold tw-items-center tw-justify-between"}).get_text().strip())
        except:
            names.append("n/a")
        try:
            price.append(result.find("td", {"class": "td-price price text-right"}).get_text().strip())
        except:
            price.append("n/a")
        try:
            volume_24h.append(result.find("td", {"class": "td-liquidity_score lit text-right col-market"}).get_text().strip())
        except:
            volume_24h.append("n/a")
        try:
            market_cap.append(result.find("td", {"class": "td-market_cap cap col-market cap-price text-right"}).get_text().strip())
        except:
            market_cap.append("n/a")

In [172]:
multiple_pages_df = pd.DataFrame({"Coin":names, "Price":price, "24h_Volume":volume_24h, "Market_Cap":market_cap})

In [173]:
multiple_pages_df.head()

       Coin       Price       24h_Volume        Market_Cap
0   Bitcoin  $16,617.24  $10,078,611,810  $319,900,825,760
1  Ethereum   $1,203.11   $2,333,685,269  $145,026,798,380
2    Tether       $1.00  $11,564,927,112   $66,267,426,000
3  USD Coin       $1.00   $1,175,693,086   $44,611,189,428
4       BNB     $245.74     $204,416,536   $40,126,471,725

In [174]:
multiple_pages_df.to_csv("multiple_pages_df.csv", index=False)